.button {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.button > svg {
  width: 20px;
  height: 20px;
}

.button.primary {
  color: var(--color-secondary);
  background-color: var(--color-main-85);
  transition: background-color var(--transition), color var(--transition);
}

.button.primary:hover {
  background-color: var(--color-main);
}

.button.primary:disabled {
  cursor: default;
  color: var(--color-secondary-40);
  background-color: var(--color-main-20);
}

.button.secondary {
  color: var(--color-main);
  border: 1px solid var(--color-main-90);
  transition: background-color var(--transition), color var(--transition),
    border-color var(--transition);
}

.button.secondary:hover {
  color: var(--color-secondary);
  background-color: var(--color-main);
  border-color: var(--color-main);
  transition: background-color var(--transition), color var(--transition),
    border-color var(--transition);
}

.button.secondary:disabled {
  color: var(--color-secondary);
  background-color: var(--color-main);
  border-color: var(--color-main);
  transition: background-color var(--transition), color var(--transition),
    border-color var(--transition);
}

.button.light {
  border: 1px solid var(--color-gray);
  color: var(--color-main-90);
  transition: border-color var(--transition);
}

.button.light:hover {
  border-color: var(--color-main);
}

.button.white {
  color: var(--color-white);
  border: 1px solid var(--color-white-90);
  transition: background-color var(--transition), color var(--transition);
}

.button.white:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

.button.full {
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
}

.button.small {
  padding: 8px 16px;
}

.button.normal {
  padding: 14px 20px;
}

.button.large {
  padding: 14px 32px;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 16px;
    line-height: 1.5;
  }

  .button > svg {
    width: 22px;
    height: 22px;
  }

  .button.full {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .button.small {
    padding: 10px 24px;
  }

  .button.normal {
    padding: 16px 32px;
  }

  .button.large {
    padding: 16px 39px;
  }
}
