.hero {
  position: relative;
  z-index: 1;
  background-color: var(--color-black);
  margin: -54px -16px 0 -16px;
  padding: 194px 16px 0 16px;
  height: 796px;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  z-index: 3;
  top: 588px;
  left: 38px;
  width: 77px;
  height: 70px;
  background-image: url('images/hero/mobile-small.webp');
  background-size: contain;
  transform: rotate(11deg);
  /* animation: fadeLeft 3s ease-in-out; */
}

.hero::after {
  content: '';
  position: absolute;
  z-index: 3;
  top: 512px;
  right: 44px;
  width: 190px;
  height: 172px;
  background-image: url('images/hero/mobile.webp');
  background-size: contain;
  transform: rotate(-12deg);
  /* animation: fadeRight 3s ease-in-out; */
}

@media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  .hero::before {
    background-image: url('images/hero/mobile-small@2x.webp');
  }
  .hero::after {
    background-image: url('images/hero/mobile@2x.webp');
  }
}

.title {
  margin-bottom: 20px;
  color: var(--color-white, #fff);
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.subtitle {
  margin-bottom: 20px;
  margin: 0 auto 20px auto;
  width: 326px;
  max-width: 100%;
  color: var(--color-white-80);
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
}

.hero button {
  margin: 0 auto;
  position: relative;
  z-index: 4;
}

.stroke {
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  opacity: 0.2;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.18) 100%
  );
  animation: fadeDown 3s ease-in-out;
}

.stroke:nth-child(1) {
  left: 16px;
}

.stroke:nth-child(2) {
  right: 16px;
}

@media screen and (min-width: 768px) {
  .hero {
    margin: -70px -32px 0 -32px;
    padding: 217px 32px 0 32px;
    height: 992px;
    border-radius: 30px;
  }

  .hero::before {
    top: 715px;
    left: 140px;
    width: 128px;
    height: 116px;
    background-image: url('images/hero/tablet-small.webp');
  }

  .hero::after {
    top: 600px;
    right: 150px;
    width: 302px;
    height: 273px;
    background-image: url('images/hero/tablet.webp');
  }

  @media only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
    .hero::before {
      background-image: url('images/hero/tablet-small@2x.webp');
    }
    .hero::after {
      background-image: url('images/hero/tablet@2x.webp');
    }
  }

  .title {
    margin-bottom: 40px;
    font-size: 70px;
  }

  .subtitle {
    margin-bottom: 40px;
    width: 577px;
    font-size: 16px;
    line-height: 1.5;
  }

  .stroke:nth-child(1) {
    left: 32px;
  }

  .stroke:nth-child(2) {
    left: 229px;
  }

  .stroke:nth-child(3) {
    right: 32px;
  }

  .stroke:nth-child(4) {
    right: 240px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    margin: -70px -60px 0 -60px;
    padding: 154px 60px 0 60px;
    height: 970px;
  }

  .hero::before {
    top: 702px;
    left: 455px;
  }

  .hero::after {
    top: 587px;
    right: 470px;
  }

  .title {
    margin: 0 auto 40px;
    width: 875px;
    font-size: 90px;
  }

  .stroke:nth-child(1) {
    left: 60px;
  }

  .stroke:nth-child(2) {
    left: 257px;
  }

  .stroke:nth-child(3) {
    right: 60px;
  }

  .stroke:nth-child(4) {
    right: 268px;
  }
}

@keyframes fadeDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* @keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
} */
