.ingredient_container {
  position: relative;
  flex-basis: calc((100% - 16px) / 2);
  display: flex;
  gap: 10px;
  align-items: center;
}

.img_wrapper {
  max-width: 75px;
  max-height: 75px;
  padding: 10px;

  border-radius: 15px;
  border: 1px solid var(--color-main-10, rgba(5, 5, 5, 0.1));
}

.name_style {
  color: var(--color-main, #050505);
  line-height: 1.42;
  letter-spacing: -0.02em;
}

.measure_style {
  color: var(--color-main-60, rgba(5, 5, 5, 0.6));
  line-height: 1.42;
  letter-spacing: -0.02em;
}

.btn {
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform var(--transition);
}

.btn:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .ingredient_container {
    flex-basis: calc((100% - 40px) / 3);
  }

  .img_wrapper {
    max-width: 90px;
    max-height: 90px;
    padding: 15px;
  }
}
