.text {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

@media screen and (min-width: 768px) {
  .text {
    width: 443px;
  }

  .text.categories {
    width: 531px;
  }

  .text.recipes {
    width: 540px;
  }
}
