.modal_wrapper {
  position: relative;
  overflow: hidden;
}

.signin_wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-120%);
  transition: transform var(--transition);
}

.signup_wrapper {
  display: flex;
  flex-direction: column;
  transform: translateX(120%);
  transition: transform var(--transition);
}

.signin_wrapper.is_active,
.signup_wrapper.is_active {
  transform: translateX(0);
}

.title {
  margin-bottom: 32px;
  color: var(--color-main);
  font-size: 28px;
  font-weight: 800;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.form {
  margin-bottom: 16px;
  flex-grow: 1;
}

.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  margin-bottom: 32px;
}

.input_field {
  position: relative;
}

.input {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: 1px solid var(--color-main-12);
  outline: none;
  color: var(--color-main-80);
  background-color: transparent;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  transition: border-color var(--transition);
}

.input:autofill {
  box-shadow: inset 0 0 0 50px var(--color-bg);
  -webkit-box-shadow: inset 0 0 0 50px var(--color-bg);
  -webkit-text-fill-color: var(--color-main-80);
}

.input:hover,
.input:focus,
.input:not(:placeholder-shown) {
  border-color: var(--color-main);
}

.input::placeholder {
  opacity: 1;
  color: var(--color-main-60);
}

.error {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-error);
  font-size: 12px;
}

.error ~ .input {
  border-color: var(--color-error);
}

.input_button {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
}

.button_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: transform var(--transition), opacity var(--transition);
}

.button_icon.visible {
  opacity: 1;
}

.input_button:hover > svg {
  transform: translate(-50%, -50%) scale(1.2);
}

.text {
  color: var(--color-main-60);
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.02em;
}

.switch_button {
  color: var(--color-main);
  letter-spacing: inherit;
  text-decoration: underline transparent;
  transition: text-decoration-color var(--transition);
}

.switch_button:hover {
  text-decoration-color: var(--color-main);
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 1.25;
  }

  .form {
    margin-bottom: 20px;
  }

  .inputs {
    margin-bottom: 40px;
  }

  .input {
    padding: 16px 24px;
    border-radius: 30px;
    font-size: 16px;
    line-height: 1.5;
  }

  .input_button {
    width: 58px;
    height: 58px;
  }

  .input_button > .button_icon {
    width: 20px;
    height: 20px;
  }

  .text {
    font-size: 14px;
  }
}
