.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--color-backdrop);
  z-index: 100;
}

.modal {
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  width: 343px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  padding: 60px 30px;
  border-radius: 20px;
  background-color: var(--color-bg);
  z-index: 101;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px;
  color: var(--color-main);
}

.close > svg {
  transition: transform var(--transition);
}

.close:hover > svg {
  transform: scale(1.1);
}

.content {
  overflow-y: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .close {
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 560px;
  }
}
