.follow_list_item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.follow_list_item:not(:last-child) {
  padding-bottom: 8px;
}

.follow_list_item:not(:last-child)::after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: var(--color-main-10);
  bottom: -12px;
  left: 0;
}

.follow_list_item_skeleton {
  height: 142.02px;
  animation: var(--animation-skeleton);
}

.user_link_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid var(--color-main-10);
  border-radius: 30px;
  color: var(--color-main);
  transition: border-color var(--transition), color var(--transition),
    border-color var(--transition);
}

.user_link_arrow:hover {
  color: var(--color-secondary);
  background-color: var(--color-main);
  border-color: var(--color-main);
}

.user_link_arrow_skeleton {
  background-color: var(--color-main-10);
  border: none;
}

.user_info_container {
  display: flex;
}

.user_avatar {
  border-radius: 100px;
  width: 60px;
  height: 60px;
}

.user_avatar_container {
  position: relative;
  margin-right: 16px;
}

.user_avatar_skeleton {
  background-color: var(--color-main-10);
  margin-right: 16px;
}

.selected_user {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid var(--color-main);
  border-radius: 8px;
  width: 12px;
  height: 12px;
  background: var(--color-main);
}

.user_name {
  margin-bottom: 4px;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-main);
}

.user_name_skeleton {
  width: 64px;
  height: 20px;
  margin-bottom: 16px;
  background-color: var(--color-main-10);
}

.user_recepies {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--color-main-60);
}

.user_recepies_skeleton {
  width: 80px;
  height: 12px;
  background-color: var(--color-main-10);
}

.button_skeleton {
  width: 116px;
  height: 36px;
  border-radius: 30px;
  background-color: var(--color-main-10);
}

@media screen and (min-width: 768px) {
  .follow_list_item:not(:last-child)::after {
    bottom: 0;
  }

  .follow_list_item:not(:last-child) {
    padding-bottom: 40px;
  }

  .recipes_pictures_list {
    display: flex;
    width: 324px;
    gap: 12px;
  }

  .recipes_pictures_item {
    width: calc((100% - 24px) / 3);
    height: 100px;
    border-radius: 15px;
    overflow: hidden;
  }

  .recipes_pictures_item_skeleton {
    background-color: var(--color-main-10);
  }

  .user_avatar {
    width: 85px;
    height: 85px;
  }

  .user_link_arrow {
    width: 42px;
    height: 42px;
  }

  .user_name {
    font-size: 20px;
    line-height: 1.2;
  }

  .user_recepies {
    font-size: 14px;
    line-height: 1.43;
  }

  .selected_user {
    width: 16px;
    height: 16px;
  }

  .button_skeleton {
    width: 144px;
    height: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .follow_list_item {
    width: 100%;
  }

  .recipes_pictures_list {
    width: 436px;
  }

  .recipes_pictures_item {
    width: calc((100% - 36px) / 4);
    height: 100px;
    border-radius: 15px;
    overflow: hidden;
  }
}
