.header_section {
  position: relative;
  margin-top: 27px;
  z-index: 2;
}

.header {
  color: var(--color-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_white {
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_black {
  color: var(--color-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle_wrap {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.toggle_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle_btn svg {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .header_section {
    margin-top: 36px;
  }

  .toggle_btn svg {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .header_section {
    margin-top: 40px;
  }
}
