.pagination {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  column-gap: 6px;
}

.page {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-main-10);
  color: var(--color-main);
  transition: border-color var(--transition), color var(--transition);
}

.page:disabled {
  cursor: auto;
}

.page:hover,
.page:disabled {
  border-color: var(--color-main);
  color: var(--color-main-87);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
