.page {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.page.home {
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .page {
    padding-bottom: 100px;
    row-gap: 80px;
  }

  .page.recipe,
  .page.home {
    row-gap: 100px;
  }

  .page.home {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    padding-top: 80px;
    padding-bottom: 120px;
    row-gap: 120px;
  }

  .page.home {
    padding-top: 120px;
  }

  .page.profile {
    row-gap: 40px;
  }
}
