.error {
  position: absolute;
  bottom: -20px;
  color: var(--color-error);
  font-size: 14px;
}

.error ~ .input {
  border-color: var(--color-error);
}
.btn_another_photo {
  position: absolute;
  z-index: 10;
  bottom: -36px;
  cursor: pointer;
  transition: text-decoration-color var(--transition);
  color: var(--color-main, #050505);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
}
.btn_another_photo:hover {
  text-decoration-color: transparent;
}
.title_form {
  color: var(--color-main);
  font-size: 40px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text_form {
  color: var(--color-main-80);
  line-height: 24px;
  letter-spacing: -0.02em;
  max-width: 443px;
  margin-bottom: 40px;
}

.input_file {
  display: none;
}
.label_photo_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: text-decoration-color var(--transition);
  color: var(--color-main, #050505);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  cursor: pointer;
  font-size: 16px;
  text-decoration-line: underline;
}
.label_photo_icon:hover {
  text-decoration-color: transparent;
}
.label_photo_icon:hover > .icon_camera {
  transform: scale(1.2);
}
.icon_camera {
  width: 50px;
  height: 50px;
  fill: var(--color-main-30);
  transition: transform var(--transition);
}

.box_form {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-direction: column;
}

.box_file {
  display: flex;
  width: 100%;
  height: 318px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px dashed var(--color-main-20);
  margin-bottom: 32px;
  position: relative;
}

.photo_file {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box_time_categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.box_input_name {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.input_quantity {
  border: none;
  margin-top: 20px;
  border-bottom: 1px solid var(--color-main-12);
  width: 100%;
  margin-bottom: 32px;
  padding-bottom: 16px;
  color: var(--color-main-60);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  transition: background-color var(--transition), color var(--transition);
}

.input_quantity:focus {
  color: var(--color-main);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-main);
}
.input_quantity:hover {
  color: var(--color-main);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-main);
}

.list_ingredients {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.input_name {
  color: var(--color-main-60);
  background-color: transparent;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border: none;
  width: 100%;
  transition: color var(--transition);
}

.input_name:focus {
  color: var(--color-main);
  outline: none;
  border: none;
}

.input_description {
  color: var(--color-main-60);
  border: none;
  width: 100%;
  height: 24px;
  max-height: 96px;
  resize: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-main-12);
  padding-bottom: 16px;
  transition: color var(--transition);
  overflow: hidden;
}

.box_select_cat {
  margin-bottom: 20px;
}

.input_description:focus {
  color: var(--color-main);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-main);
}
.input_description:hover {
  color: var(--color-main);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-main);
}
.line_under_input {
  width: 100%;
  height: 1px;
  background-color: var(--color-main);
}

.text_length {
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  color: var(--color-main-60);
}

.box_description {
  position: relative;
}

.title_description {
  color: var(--color-main);
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box_time_btn {
  width: 194px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.counter_time {
  color: var(--color-main-60);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.box_name_cate_ingr {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box_btn_del_pub {
  display: flex;
  gap: 8px;
}

.box_area {
  margin-bottom: 32px;
}
.btn_time {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 109px;
  border-radius: 30px;
  border: 1px solid var(--color-main-12);
  transition: background-color var(--transition), color var(--transition);
}

.btn_time:focus {
  background: var(--color-main);
  color: var(--color-secondary);
}

.btn_time:hover {
  background: var(--color-main);
  color: var(--color-secondary);
}

.icon_time {
  width: 16px;
  height: 16px;
}
.box_preparation {
  width: 100%;
}
.input_preparation {
  margin-top: 32px;
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--color-main-12);
  min-height: 36px;
  color: var(--color-main-60);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
  transition: color var(--transition);
}

.input_preparation:focus {
  color: var(--color-main);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-main);
}
.input_preparation:hover {
  color: var(--color-main);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-main);
}
.btn_delete {
  width: 20px;
  height: 20px;
}

.delete_btn {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  border: 1px solid var(--color-main-12);
  transition: background-color var(--transition), color var(--transition);
}

.delete_btn:focus {
  background-color: var(--color-main);
  color: var(--color-secondary);
}
.delete_btn:hover {
  background-color: var(--color-main);
  color: var(--color-secondary);
}
.input_error {
  border-color: var(--color-error);
  color: var(--color-error);
}
.error_message {
  color: var(--color-error);
  font-size: 14px;
}
.error_file {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  text-align: center;
  color: var(--color-error);
}
.input_wrapper {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .btn_another_photo {
    bottom: -40px;
  }
  .box_form {
    gap: 80px;
  }

  .list_ingredients {
    gap: 20px;
  }

  .box_file {
    height: 400px;
  }
  .input_name {
    font-size: 24px;
  }
  .input_description {
    min-height: 40px;
    padding: 0 100px 16px 0;
    font-size: 16px;
    max-height: 96px;
  }
  .box_input_name {
    margin-bottom: 60px;
    gap: 40px;
  }
  .box_time_categories {
    flex-direction: row;
    margin-bottom: 60px;
    gap: 19px;
  }
  .icon_time {
    width: 24px;
    height: 24px;
  }
  .box_area {
    margin-bottom: 60px;
  }
  .title_description {
    font-size: 20px;
    margin-bottom: 16px;
    display: block;
  }
  .counter_time {
    font-size: 16px;
  }
  .boxIngredQuan {
    display: flex;
    gap: 19px;
    align-items: center;
  }
  .input_quantity {
    background-color: transparent;
    margin: 0;
    font-size: 16px;
  }
  .box_ingredients {
    margin-bottom: 40px;
  }
  .list_ingredients {
    margin-bottom: 80px;
  }
  .input_preparation {
    margin-top: 24px;
    margin-bottom: 80px;
    font-size: 16px;
    background-color: transparent;
  }
  .box_select_cat {
    width: 315px;
  }
  .box_input_ingredients {
    width: 315px;
  }
  .box_input_quantity {
    position: relative;
    width: 315px;
  }
  .boxIngredQuan {
    align-items: flex-end;
  }
  .delete_btn {
    padding: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .box_form {
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
  }
  .box_file {
    width: 551px;
  }
  .input_name {
    max-width: 100%;
    box-sizing: border-box;
  }
  .boxInputsForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }

  .box_select_cat {
    width: 315px;
  }
}
