.visually-hidden {
  visibility: hidden;
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

@media screen and (min-width: 768px) {
  .section {
    row-gap: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .section_row {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
  }

  .section_row > div:first-child {
    flex-shrink: 0;
    width: 394px;
  }
}

