:global(.swiper-wrapper) {
    padding-bottom: 20px;
}

:global(.swiper-pagination) {
    display: flex;
    gap: 8px;
    z-index: 11;
    width: max-content;
    margin: 0 auto;
}

:global(.swiper-pagination-bullet) {
    display: block;
    width: 14px;
    height: 14px;
    background-color: var(--color-main-15);
    border-radius: 50%;
    cursor: pointer;
}

:global(.swiper-pagination-bullet-active) {
    background-color: var(--color-main);
}

.info_title {
    text-align: center;
    margin-bottom: 16px;
}

.title {
    display: block;
    margin: 0 auto;
    width: max-content;
}

@media screen and (min-width: 768px) {
    :global(.swiper-pagination) {
        gap: 12px;
    }

    :global(.swiper-pagination-bullet) {
        width: 16px;
        height: 16px;
    }
}

@media screen and (min-width: 1440px) {
    :global(.swiper) {
      width: 822px;
    }
  }
