.path {
  display: flex;
  column-gap: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-main-40);
}

.current {
  color: var(--color-main);
}
